@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: $tertiary-color;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 1em;

  @include tablet {
    padding: 2em;
  }
}

ul {
  list-style-type: none;
}

button {
  color: $alt-text;
  background-color: $secondary-color;
  border-radius: 4px;
  padding: 4px 8px;
}

textarea {
  resize: none;
  font-family: 'Outfit';

  ::placeholder {
      font-family: 'Outfit';
  }
}

input[type="text"] {
    font-family: 'Outfit';
    border: 1px solid $border-color;
  
    &:default {
      border-color: $secondary-color;
    }
  
    &:invalid {
      border-color: $error-red;
    }
  }

  textarea[type="text"] {
    font-family: 'Outfit';
    border: 1px solid $border-color;
  
    &:default {
      border-color: $secondary-color;
    }
  
    &:invalid {
      border-color: $error-red;
    }
  }