@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $tertiary-color;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.photos__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    border: 1px $border-color solid;
}