@use "./typography";
@use "./mixins" as *;
@use "./variables" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $tertiary-color;
}

#root {
    display: flex;
    flex-direction: column;
    padding: 2em;
}
