@font-face {
    font-family: 'Newsreader';
    src: url(/src/assets/fonts/Newsreader-Regular.woff) ;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url(/src/assets/fonts/Newsreader-Light.woff) ;
    font-weight: 300;
    font-style: light;
}

@font-face {
    font-family: 'Newsreader';
    src: url(/src/assets/fonts/Newsreader-LightItalic.woff) ;
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Outfit';
    src: url(/src/assets/fonts/Outfit-Medium.woff) ;
    font-weight: 500;
    font-style: medium;
}

@font-face {
    font-family: 'Outfit';
    src: url(/src/assets/fonts/Outfit-Light.woff) ;
    font-weight: 300;
    font-style: light;
}

.wordmark {
    font-family: 'Newsreader';
    font-size:  32px;
    line-height: 32px;
    font-weight: 400;
}

.title {
    font-family: 'Newsreader';
    font-size:  26px;
    line-height: 38px;
    font-weight: 300;
}

.heading {
    font-family: 'Outfit';
    font-size:  18px;
    line-height: 23px;
    font-weight: 500;
}

.body {
    font-family: 'Outfit';
    font-size:  12px;
    line-height: 15px;
    font-weight: 300;
}

.body-small {
    font-family: 'Outfit';
    font-size:  10px;
    line-height: 12px;
    font-weight: 500;
}

.label {
    font-family: 'Outfit';
    font-size:  12px;
    line-height: 15px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .wordmark {
        font-size:  40px;
        line-height: 40px;
        font-weight: 400;
    }
    
    .title {
        font-size:  56px;
        line-height: 66px;
        font-weight: 300;
    }
    
    .heading {
        font-size:  24px;
        line-height: 30px;
        font-weight: 500;
    }
    
    .body {
        font-size:  20px;
        line-height: 26px;
        font-weight: 500;
    }
    
    .body-smaill {
        font-size:  12px;
        line-height: 15px;
        font-weight: 500;
    }
    
    .label {
        font-size:  14px;
        line-height: 17.5px;
        font-weight: 500;
    }
}