$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-color: #0c1e1a;
$secondary-color: #1e6655;
$tertiary-color: #effaf7;

$border-color: #b7cec9;
$alt-bg-color: #e4efec;
$alt-text: #fff;

$xxl: 56px;
$xl: 48px;
$l: 24px;
$m: 16px;
$s: 8px;
