$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$primary-color: #0C1E1A; //black
$secondary-color: #1E6655;//forest green CTA + icons
$tertiary-color: #EFFAF7; //pistachio primary bg color

//secondary colors
$border-color: #B7CEC9; //sea green
$alt-bg-color: #E4EFEC; //sage
$alt-text: #FFF; //white

//padding
$xxl: 56px;
$xl: 48px;
$l: 24px;
$m: 16px;
$s: 8px;