$tablet-breapoint: 768px;
$desktop-breakpoint: 1280px;

// colors
$primary-color: #0C1E1A;
$secondary-color: #1E6655;//primary accent color for CTA + icons
$tertiary-color: #EFFAF7; //pistachio primary bg color

//secondary colors
$border-color: #B7CEC9;
$alt-bg-color: #E4EFEC;
$alt-text: #FFF; 
