@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.hero {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: $padding-large;
  padding-bottom: $padding-xlarge;

  @include tablet {
    padding: $padding-xxlarge 0em;
  }
}
