@use "../../styles/partials/variables" as *;

.link {
  display: flex;
  gap: 1em;
  text-decoration: none;
  align-items: center;
  color: inherit;

  &:visited {
    text-decoration: none;
  }
  &__icon {
    width: 1.5em;
    height: 1.5em;
  }

  &__title {
    color: $secondary-color;
  }
}
