@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
  padding: none;

  @include tablet {
    padding: 2em 10em;
  }

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;

  &__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    padding-bottom: 2em;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: $padding-small;
    padding-bottom: 1em;
  }

  &__input {
    border-radius: 4px;
    background-color: $alt-text;
    border: 1px solid $border-color;
    height: 2em;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}
