@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  flex-direction: column;
  gap: $m;
  padding: 2em 0em;

  &__copy {
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: $s;
    padding: 1em 0em;

    @include tablet {
      min-width: 30%;
      justify-content: flex-end;
    }

    @include desktop {
      width: 100%;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: $m;
  }

  &__tertiary {
    display: flex;
    gap: $m;
    color: $border-color;
  }
}

.footer-logo {
  min-width: 60%;

  @include desktop {
    min-width: 90%;
  }
}

.footer__copy-links {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    width: 60%;
    justify-content: space-around;
  }
}
