@use "../../styles/partials/global";

ul {
  list-style-type: none;
  padding-bottom: 2em;
}

.footer {
    background-color: #EFFAF7;//$tertiary-color;
    // background-color: $tertiary-color;
    padding-bottom: 3em;
  }

  .footer__primary{
    display: flex;
    flex-direction: column;
  }

  .footer__icons {
    display: flex;
    gap: 1em
  }

  .footer__tertiary {
    display: flex;
    gap: 1em;
  }

  
  // .icons, .icons1 {
  //   display: flex;
  //   align-items: center;
  //   gap: 1em;
  // }
  
  // .extras {
  //   display: flex;
  //   align-items: center;
  //   gap: 1em;
  //   color: darkgrey;
  // }
  
  // .tablet {
  //   background-color: lightgreen;
  //   padding: 4em;
  // }
  
  // .tablet-links {
  //   display: flex;
  //   gap: 4em;
  // }
  
  // .tablet-copy {
  //   display: flex;
  //   justify-content: space-between;
  // }
  
  // .tablet-extras {
  //   display: flex;
  //   color: darkgrey;
  //   gap: 1em;
  // }
  
  // .desktop {
  //   background-color: #EDF9F6;
  //   padding: 1em;
  // }
  
  // .desktop-copy {
  //   display: flex;
  //   justify-content: space-between;
  // }
  
  // .desktop-title {
  //   width: 40%;}