@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.photos {
    display: flex;
    flex-direction: column;
    position: relative;
}

.photo__list {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.photos__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    border: 1px  $border-color solid;
}

.photos__photographer {
    position: absolute;
    top: 80%;
    right: 0%;
    z-index: 1;
    background-color: $alt-bg-color;
    padding: 0.5em;
    border-radius: 10px 0px 0px 0px;
}

.photos__tags {
    display: flex;
    gap: 1em;
    background-color: $alt-bg-color;
    border-radius: 0px 0px 10px 10px;
    padding: 1em;
}
.photos__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    background-color: $alt-text;
    padding: 6px 8px;
    border: 1px solid $border-color;
    border-radius: 6px;
}

