@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.comments__section {
    padding: 0em 10em;
}

.form__section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    padding: 0em 10em;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fill {
    border-radius: 8px;
    background-color: $alt-text;
    border: 1px solid $border-color;
}

button {
    color: $alt-text;
    background-color: $secondary-color;
    border-radius: 4px;
    padding: 4px 8px;
}

.client-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}


.comments__section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-text {
    padding-bottom: 1em;
    border-bottom: 1px solid $border-color;
}

.comment-title {
    color: $secondary-color
}