@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.comments__section {
    padding: 0;

    @include tablet {
    padding: 0em 10em;
}
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
}

.input-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.test-button {
    display: flex;
    justify-content: flex-end;
}

.form__section {
    padding: none;

    @include tablet {
    padding: 2em 10em;
    }
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
}

.form__test {
    display: flex;
    flex-direction: column;
}


.fill {
    border-radius: 4px;
    background-color: $alt-text;
    border: 1px solid $border-color;
    height: 30px;
}

button {
    color: $alt-text;
    background-color: $secondary-color;
    border-radius: 4px;
    padding: 4px 8px;
}

.client-info {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
}


.comments__section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-text {
    padding-bottom: 1em;
    border-bottom: 1px solid $border-color;
}

.comment-title {
    color: $secondary-color
}

textarea {
    resize: none;
    font-family: 'Outfit';

    ::placeholder {
        font-family: 'Outfit';
    }
}

.fill-large {
    height: 80px;
}

// input[type="text"] {
//     // Add your styles here
//     font-family: 'Outfit';
//     border: 2px solid black;
  
//     &:default {
//       border-color: $secondary-color;
//       outline: none;
//       box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
//     }
  
//     &:invalid {
//       border-color: $error-red;
//     }
  
//     &::placeholder {
//       color: #aaa;
//       font-style: italic;
//     }
//   }

//   input:invalid{
//     border: 1px solid $error-red;
//   }

//   input:active{
//     border: 1px solid $secondary-color;
//   }